body {
    text-align:center; background-color:lightblue;font-family:Book Antiqua;font-size:17px;
    
}
img { 
    width:500px;border-style:solid;border-width:4px;border-color:#91274F;padding:2px;margin:0px;
}
.button {
    font-family:fantasy;border:dashed;border-width:1.5px;
}
h2 {
    text-align:center;
}
ol {
    text-align:left;
}
ul {
    text-align:left;
}
table,th,td {
    border:2px solid black;
}
