.navbar-nav{text-align:center; font-family:Laila;}
.jumbotron{height:280px; text-align:center; font-family:Laila; background-color:#CEC8F1 !important; color:#2C7CA7; background-image:url(https://www.publicdomainpictures.net/pictures/280000/nahled/floral-watercolor-flowers-border.jpg)}
h2{color:transparent !important;}
body{background-color:#FDEDEC !important;}
h3{color:transparent !important;}
.col-centered{float: none; margin: 0 auto;}
.carousel-inner img{width:700px;height:500px;}
#ul2{font-family:Felipa;border-style:dotted;color:#2C7CA7;font-size:18px;border-color:#0095B6;}
h5{color:transparent !important;}
#info{font-family:Felipa;color:#2C7CA7;font-size:30px;}
#img5{height:400px;width:400px;}