.navbar-nav{text-align:center; font-family:Laila;}
.jumbotron{height:280px; text-align:center; font-family:Laila; background-color:#CEC8F1 !important; color:#2C7CA7; background-image:url(https://www.publicdomainpictures.net/pictures/280000/nahled/floral-watercolor-flowers-border.jpg)}
h2{color:transparent !important;}
body{background-color:#FDEDEC !important;}
#hmain{color:transparent !important;}
.col-centered{float: none; margin: 0 auto;}
.carousel-inner img{width:700px;height:500px;}
#ul2{font-family:The Girl Next Door;border-style:double;color:#2C7CA7;font-size:22px;border-color:#0095B6;}
h5{color:transparent !important;}
#info{font-family:Rock Salt;color:#2C7CA7;font-size:26px;}
#p2{color:transparent !important;}
#img5{border-style:double;color:#2C7CA7;border-width:4px;}
#h32{font-family:Gaegu;color:#2C7CA7;font-size:28px;}
#contact{border-style:solid;color:#2C7CA7;font-family:Gaegu;border-color:#0095B6;font-size:23px;border-width:2px;}
#h89{border-style:solid; color:#2C7CA7; font-family:Gaegu; font-size:18px;}